<h4 id="main-subtitle">Take on a</h4>
<h1 id="main-title">Challenge!</h1>

<div class="challenge-list">
  <% Challenge.all.reverse.each do |challenge| %>

    <div class="challenge-card">
      <h2>
        <%= challenge.description.capitalize  %>
      </h2>
      <p>
        by <%= challenge.author.email  %>
      </p>
    </div>

  <% end %>
</div>

<%= render 'shared/message_box' %>



