.message-box {
  background-color: $gray-dark-brand;
  width: 100%;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0px;
}

#answer-submit {
  width:80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  background-color: blue;
  vertical-align: baseline;
  margin: -10px;
 }

#challenge-description {
  border: none;
  border-bottom: 1px solid;
  border-color: white;
  width: 90%;
  padding: 5px;
  margin: 0px 15px;
  color: white;
  background-color: $gray-dark-brand;
 }
